:root {
  --main-color: #0ca889;
  --light-color: #89f0db;
  --text-color: #000000;
  --background: #ffffff;
}

body {
	font-family: georgia;
}

h1 {
	color: var(--background);
	background-color: var(--main-color);
	text-align: center;
	font-family: helvetica;
}

nav {
	color: var(--background);
	background-color: var(--main-color);
	font-family: helvetica;
}

p {
	color: var(--text-color:);
}

img {
	width: 100%;
	max-width:600px;
}

a:link {
  color: var(--light-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--light-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--background);
  background-color: var(--main-color);
  text-decoration: none;
}