body {
	font-family: georgia;
	color: white;
}
h1 {
	background-color: MediumSeaGreen;
	text-align: center;
	font-family: helvetica;
}
p {
	color: MediumSeaGreen;
}

img {
	width: 100%;
	max-width:600px;
}

a:link {
  color: MediumSeaGreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: MediumSeaGreen;
  text-decoration: none;
}